<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Pozdrav, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Odjava</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Registracija</a>
        <a href="Identity/Account/Login">Prijava</a>
    </NotAuthorized>
</AuthorizeView>
