@page "/"

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http

@layout EmptyLayout
@inject SignInManager<IdentityUser> SignInManager
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor

<div class="cont">
    <img src="/images/logo.jpg" class="center"/>
</div>
<br />

<div class="wrapper">
    <a class="mainButton" href="/Identity/Account/Login" ReturnUrl="/index"><h1>KRENI</h1></a>
</div>

<style>
    main{
        padding: 0px;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

     .wrapper {
      display: flex;
      justify-content: center;
    }
</style>
@code{
    [Parameter]
    public string ReturnUrl { get; set; }

    protected override void OnInitialized()
    {
        if (SignInManager.IsSignedIn(HttpContextAccessor.HttpContext.User))
        {
            ReturnUrl = "/reservations";
            NavigationManager.NavigateTo(ReturnUrl,
               forceLoad: true);
        }
    }
}